.cart-container {
  position: fixed;
  top: 60px;
  right: 2px;
  width: 36%;
  height: 54%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  z-index: 1000;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.close-cart {
  position: absolute;
  background-color: red;
  border: none;
  font-size: 0.9rem;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
  float: right;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.cart-item img {
  width: 60px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
}

.remove-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
}

/* Style for the cart overlay */
.cart-overlay {
  position: fixed;
  top: 0;
  right: -100%;  /* Initially hidden off the screen */
  width: 20%;  /* Adjust this width as needed */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);  /* Semi-transparent background */
  transition: right 0.3s ease-in-out; /* Smooth transition */
  z-index: 1000; /* Make sure it's above other content */
}

.close-cart:hover {
  background-color: darkred;
}

.cart-container h2 {
  margin-top: 0;
}

.cart-container ul {
  list-style-type: none;
  padding: 0;
}

.cart-container li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}