.navbar-nav .nav-link {
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif; 
}
.margin {
  margin-left: 36% !important;
}
.cart-icon {
  color: white;
  display: flex;
  align-items: center;
}

.cart-icon:hover {
  color: rgb(189, 219, 245);
}

.margin{
  margin-left: auto;
}