.footer {
    background-color: #00bfff;
    color: white;
    padding: 8px;
}
  
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.8rem;
}
  
.footer-title {
    margin-left: 1rem;
    font-size: 1.8rem;
}
  
.social-icons a {
    margin: 0 10px;
}
  
.social-icons img {
    height: 30px;
    width: 30px;
}